<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>ポケモンに有効なわざのタイプをしりたい</h1>
    <form method='post'>
        {% csrf_token %}
        <select id='type1' name='type1'>
            {% for type in types %}
                <option value='{{ type.value }}' {% if type.value == selected1 %}selected="selected"{% endif %}>{{ type.name }}</>
            {% endfor %}
        </select>
        <select id='type2' name='type2'>
            {% for type in types %}
                <option value='{{type.value}}' {% if type.value == selected2 %}selected="selected"{% endif %}>{{ type.name }}</>
            {% endfor %}
                <option value='19'>なし</>
        </select>
        <input type='submit' value='このタイプに有効なタイプは？'>
    </form>
    <div>
        このタイプにおすすめのわざは？
        {% for type in super_types_names %}
            <div>{{ type.name }}</div>
        {% endfor %}
    </div>
</body>
</html>
