<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>ポケモンに有効なわざのタイプをしりたい</h1>
    <form method='post'>
        {% csrf_token %}
        <select id='type1' name='type1'>
            {% for value, name in form.type1.field.choices %}
                {% if value != 99 %}
                    <option value='{{value}}' {% if value == form.type1.value %}selected='selected'{% endif %}>{{name}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <select id='type2' name='type2'>
            {% for value, name in form.type1.field.choices %}
                <option value='{{value}}' {% if value == form.type2.value %}selected='selected'{% endif %}>{{name}}</option>
            {% endfor %}
        </select>
        <input type='submit' value='このタイプに有効なタイプは？'></input>
    </form>
    <div>
        選択したタイプに有効なわざは？
        {% for name in super_types_names %}
            <div>{{ name }}</div>
        {% endfor %}
    </div>
</body>
</html>
